body {
  background-color: seashell;
  margin: 0;
  /* padding: 4px; */
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
}

table, tr, td {
  /* border: solid #000000; */
}

.nav-table {
  width: 100%;
  height: 100px;

  text-align: center;
}

.nav-item {
  width: 10%;
}

.nav-link, .navbar-brand {
  text-decoration: none;
  color: #787878
}

.navbar-brand {
  font-size: 36px;
}

.empty-cell {
  width: 80%;
}

.navbar.navbar-expand-lg.navbar-light.fixed-top {
  height: 100px;
}
